<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCRegister:war exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/SpringMVCRegister_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCRegister" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="commons-logging-4.0.6.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-aop-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-aop-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-aop-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-aspects-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-aspects-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-aspects-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-beans-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-beans-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-beans-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-indexer-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-indexer-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-indexer-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-support-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-support-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-context-support-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-core-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-core-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-core-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-expression-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-expression-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-expression-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-instrument-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-instrument-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-instrument-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jcl-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jcl-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jcl-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jdbc-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jdbc-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jdbc-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jms-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jms-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-jms-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-messaging-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-messaging-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-messaging-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-orm-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-orm-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-orm-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-oxm-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-oxm-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-oxm-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-test-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-test-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-test-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-tx-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-tx-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-tx-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-web-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-web-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-web-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-webflux-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-webflux-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-webflux-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-webmvc-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-webmvc-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-webmvc-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-websocket-5.2.7.RELEASE.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-websocket-5.2.7.RELEASE-javadoc.jar" module-name="SpringMVCRegister" />
          <element id="library" level="module" name="spring-websocket-5.2.7.RELEASE-sources.jar" module-name="SpringMVCRegister" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVCRegister/web/Web" />
    </root>
  </artifact>
</component>