<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet> 
<servlet-name>servone</servlet-name>
<servlet-class>com.employeeR.RegisterEmployee</servlet-class>

</servlet>

<servlet-mapping> 
<servlet-name>servone</servlet-name>
<url-pattern>/eRegister</url-pattern>
</servlet-mapping>





</web-app>
